run:
  harmonization: True
  summarize: True
  delivery: True
  to_parquet: True


# Paths
sumstats_path: config/local.txt
sumstats_suffix: ".gwas.regenie.gz" # Suffix of input summary statistics files (check in sumstats_path)c
dest_path: "/project/cdh/interval/result"
workspace_path: ../results
sumstats_sep: "\t"


# Common parameters
input_format: &iformat "regenie" # Input format of summary

params:
  harmonize_sumstats:
    input_format: *iformat
    config_file: "config/config_harmonize_sumstats.yml"
  summarize_sumstats:
    input_format: "gwaslab"
    config_file: "config/config_summarize_sumstats.yml"
  snp_mapping:
    input_format: *iformat
    config_file: "config/config_snp_mapping.yml"
